.hero {
  height: 80vh;
  /* align-items: "center";
  background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.copy {
  font-size: 1rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}
