.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2%;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  align-items: center;
  font-weight: bold;
}
