.input {
  display: flex;
  gap: 5%;
}

.container {
  width: 80vw;
  margin-left: 5%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copy {
  font-size: 1rem;
  margin-bottom: 5%;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1% 4% 0 4%;
  border-bottom: 1px solid lightgrey;
  background-color: #dbdbdb;
}

.header ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  align-items: center;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.product-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}

.products {
  display: flex;
  gap: 5%;
}

.product-card {
  border: 1px solid red;
  padding: 2%;
  border-radius: 16px;
}

.footer {
  background-color: #26272b;
  color:#737373;
}

.footer-top {
  display: flex;
  margin: 5%;
  gap:5%;
}

.footer-section {
  width: 30%
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
  border-top: 1px solid grey;
}

.footer-bottom ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
}